* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  scrollbar-width: none; /* for Firefox */
}

body {
  font-family: "tesla-font-light";
}

@font-face {
  font-family: "tesla-font-book";
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Book_Web.woff2")
    format("woff2");
  font-family: "tesla-font-medium";
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2")
    format("woff2");
  font-family: "tesla-font-bold";
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Bold_Web.woff2")
    format("woff2");
  font-family: "tesla-font-light";
  src: url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2")
    format("woff2");
}
.wrapper {
  max-width: 100vw;
}
.main {
  height: 100vh;
}

.container1 {
  background-image: url(../assets/img/M3-Hero-LHD-US-D.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: 50% 35%;
  background-color: black;
}
.container2 {
  background: black;
}
.nav-side-list {
  position: absolute;
  right: 20px;
  top: 10px;
  /* border: solid 3px yellow; */
}

.navbar {
  height: 54px;
  top: 0;
  position: sticky;
  padding-top: 10px;
}

.logo {
  position: fixed;
  width: 120px;
  fill: white;
  left: 49px;
  top: 18px;
}


ol {
  text-align: center;
  height: 50px;
}
.nav-li {
  display: inline-block;
  border-radius: 12px;
  height: 30px;
  padding-top: 5px;
  transition: 0.3s;
}
.nav-li:hover {
  background: #6d7379;
}
a {
  text-decoration: none;
}
span {
  font-weight: 600;
  font-family: "tesla-font-light";
  font-size: 14px;
  color: white;
  padding: 15px;
}

.main-title {
  font-family: "tesla-font-light";
  padding-top: 85px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.bottom-nav {
  /* border: solid 3px yellow; */
  max-width: 640px;
  height: 64px;
  margin-left: 650px;
  margin-top: 63vh;
  color: white;
  font-weight: 600;
  position: absolute;
}
.bottom_nav_card {
  display: inline-block;
  width: 120px;
  /* border: solid 1px red; */
  margin-left: 20px;
  margin-right: 10px;
}
.seconds_title {
  text-align: center;
  display: inline-block;
  font-size: 28px;
}
.miles_title,
.AWD_title {
  display: inline-block;
  text-align: center;
  font-size: 28px;
}
.sbtn-title {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}
.top_card {
  text-align: center;

  /* border: solid 1px blue; */
}
.bottom_card {
  /* border: solid 2px green; */
  padding-top: 5px;
}
.order-btn {
  border: 3px white solid;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 45px;
  font-size: 12px;
  color: white;
  width: 160px;
  height: 40px;
  position: relative;
  left: 100%;
  bottom: 50px;
  transition: 0.3s;
}

.order-btn:hover {
  background: white;
  color: black;
  cursor: pointer;
}
.speedomer {
  width: 40%;
  position: relative;
  right: 20px;
  top: 34px;
}

.container2 {
  background-image: url(../assets/img/model_3_safety_hero.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: 53% 100%;
  background-color: #f5f5f5;
}

.side-bar {
  background-color: white;
  width: 415px;
  height: 100vh;
}

.sidebar-inside {
  /* border: solid 2px green; */
  width: 314px;
  margin: 0 auto;
}

.safe-p {
  padding-top: 16px;
  font-size: 14px;
  line-height: 23px;
  padding-bottom: 20px;
}

.content-wrapper {
  margin: 0 auto;
  /* border: solid 2px red; */
}

.bs-title {
  font-size: 28px;
}
.safe-text {
  font-size: 17px;
  font-weight: 300;
  padding-top: 30px;
}

.bottom-side-bar {
  height: 300px;
  background: #e2e4e4;
  margin: 0 auto;
  border-radius: 25px;
}
.star-overal-title {
  font-size: 20px;
  text-align: center;
  width: 90%;
  padding-top: 30px;
  padding-left: 45px;
}

.stars-ul {
  float: left;
  color: black;
  list-style-type: none;
  padding-top: 30px;
}
.li-p1 {
  color: #393c41;
  font-size: 14px;
  font-weight: 600;
}

.inside-li-p1 {
  font-size: 8px;
  color: #393c41;
}
.stars-small-titles {
  padding-left: 25px;
  padding-bottom: 10px;
  /* border: solid 3px yellow; */
}

.stars-ul-right {
  float: right;
  list-style-type: none;
  padding-top: 25px;
  padding-right: 25px;
}
.li-p2 {
  color: #393c41;
  padding-bottom: 15px;
}
.bottom-side-btn-wrapper {
  position: absolute;
  /* border: solid 2px red; */
  width: 314px;
  margin-top: 460px;
}
#second-btn {
  color: black;
  border: solid 3px black;
  float: right;
  margin-right: 100px;
  width: 135px;
  position: relative;
  left: 80px;
  bottom: 28px;
}

.learn-more-h3 {
  font-size: 13px;
  color: black;
  cursor: pointer;
  width:35%;
  margin-left: 47px;
}
#plus-button {
  border: solid 3px black;
  color: black;
  position: static;
  width: 40px;
  float: left;
  position: relative;
  left: 3px;
  bottom: 28px;
  margin-bottom: 30px;
  font-size: 24px;
}
#plus-button:hover , #second-btn:hover{
  background-color: black;
  color: white;
}

.learn-more-h3:hover ~ #plus-button {
  color: #fff;
  background-color: #000;
}




.container3-bg{
  background-image: url(../assets/img/lhd-performance-hero-desktop.jfif);
  height: 73%;
  background-position-y:  50%;
  background-repeat: no-repeat;
}

.nav-bot{
  background: white;
 height: 27%;
}
.last-page-nav-wrapper{
  /* border: solid 3px; */
 position: relative;
 top: 71%;
  margin: 0 auto;
  height:180px;
  text-align: center;
}

.last-page-card1,.last-page-card3,.last-page-card2{
  display: inline-block;
  width:300px;
  height: 60%;
  color: white;
  margin-right: 20px;;
  margin-left: 20px;;
  /* border: solid 3px green; */
}



.card1-p1,.card2-p2,.card3-p3{
  font-size: 12px;
  margin-bottom: 20px;
  
}
.card1-h1,.card2-h1,.card3-h1{
  padding-top: 20px;
  font-size: 28px;
  margin-bottom: 10px;
}
.speedomer2{
  width:18%;
  position: relative;
  left: 20%;
  top:38px;
}
.card1-h1{
  margin-left:40px;
}

.nav-bot{
  position: absolute;
}

.nav-bot-content-wrapper{
  width: 70%;
  height: 200px;
  /* border:solid 3px red; */
  margin: 0 auto;
  position: relative;
}
#nav-bot-side-wrapper{
  /* border: solid 3px green; */
  position: absolute;
  bottom: 1%;
}

.nav-bot-content-r{
  margin-left: 180px;;
  margin-top: 10px;

  width: 30%;
}

.nav-bot-content-l{
  width: 45%;
  font-size: 14px;;
  /* border: solid 3px green; */
  position: relative;
  bottom:25%;
  left: 40%;
  line-height: 20px;
}