* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container-1 {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/M3-Hero-LHD-US-D.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 100vw;
  height: 60px;
  border: solid 3px yellow;
  position: sticky;
}
